.row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.card-wrapper {
  height: fit-content;
  width: fit-content;
  display: inline-block;
  position: relative;
}
.card-wrapper > .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  height: auto;
}

.card-wrapper:hover > .overlay {
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
  overflow: hidden;
}

.card-wrapper:hover .overlay > h1 {
  color: white;
  position: absolute;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.overlay {
  display: inline-flex;
  transition: 0.5s ease;
  opacity: 0;
  backface-visibility: hidden;
  overflow: hidden;
  height: unset;
}
.overlay > img {
  width: 300px;
}

.image-style {
  width: 200px;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
}



button{
  display: block;
  background-color: red;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #FEFEFE;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 80%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

